<!--{% load staticfiles %}-->
<!--base template for glogou.com header and footer by Grace-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Brands Asia Marketing, Asia Branding, Branding in China{% endblock %}</title>
    <meta name="description" content="{% block description %}Marketing tools for Brands Asia Marketing, Asia Branding, Branding in China{% endblock %}">
    <meta name="keywords" content="{% block keyword %}Marketing tool, Asia Media Monitoring, Brands Asia Marketing, Asia Branding, Branding in China{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="ROBOTS" content="INDEX, FOLLOW" >
    <meta name="author" content="">

    <!-- core CSS -->
<!--     <link href="/static/css/default_web/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="/static/brands/css/jquery-ui.css">
    <link href="/static/bootstrap/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/default_web/animate.min.css" rel="stylesheet">
    <link href="/static/css/default_web/prettyPhoto.css" rel="stylesheet">
    <link href="/static/css/default_web/main.css" rel="stylesheet">
    <link href="/static/css/default_web/responsive.css" rel="stylesheet">
    <link href="/static/css/default_web/glogou-style.css" rel="stylesheet">
    <link href="/static/css/default_web/subpage-style.css" rel="stylesheet">
<!--     <link href="/static/bootstrap/fonts/glyphicons-halflings-regular.woff" rel="stylesheet"> -->
<!--     <link href="/static/bootstrap/fonts/glyphicons-halflings-regular.ttf" rel="stylesheet"> -->
    <!--[if lt IE 9]-->
    <!--<script src="../../static/javascript/html5shiv.js"></script>-->
    <!--<script src="../../static/javascript/respond.min.js"></script>-->
    <!--[endif]-->

    <!-- MetisMenu CSS -->
<!--     <link href="/static/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet"> -->
    <!-- Custom CSS -->
    <link href="/static/css/asia_media_planning/asia_media_planning.css" rel="stylesheet">
    <link href="/static/css/asia_media_planning/docs.min.css" rel="stylesheet">
<!--     <link href="/static/css/member_service/sb-admin-2.css" rel="stylesheet"> -->


    <!-- flip css -->
    <link href="/static/css/default_web/flip_img.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    
    
    
    <!-- Bootstrap Core CSS -->
    <link href="/static/brands/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- MetisMenu CSS -->
    <link href="/static/brands/css/metisMenu.min.css" rel="stylesheet">
    
    <!-- Timeline CSS -->
    <link href="/static/brands/css/timeline.css" rel="stylesheet">
    
    <!-- Custom CSS -->
    <link href="/static/brands/css/sb-admin-2.css" rel="stylesheet">
    
    <!-- Morris Charts CSS -->
    <link href="/static/brands/css/morris.css" rel="stylesheet">
    
    <!-- Custom Fonts -->
    <link href="/static/brands/css/font-awesome.min.css" rel="stylesheet"
        type="text/css">
    <style media="print" type="text/css">
        @media print {
            .page-break { height:0; page-break-before:always; margin:0; border-top:none; }
        }
        
    </style>
    {% block script %} {% endblock %}
    {% block style %} {% endblock %}

    <!--Google Analytics-->
    <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-28189828-1']);
            _gaq.push(['_setDomainName', 'glogou.com']);
            _gaq.push(['_trackPageview']);
    
            (function () {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    <!--/Google Analytics-->
</head><!--/head-->

<body>
    <!--Google Search-->
    <script>
  (function() {
    var cx = '008233539758369902405:80kflsefim8';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
    })();
    </script>
    <style>
input.gsc-input {
    background-image:none !important;
    line-height: normal;
    box-shadow:none;
    box-sizing: content-box;
    width:80px !important;
    font-size:12px;
    }
input.gsc-search-button {
    line-height: normal;
    box-shadow:none;
    box-sizing: content-box;
    padding:6px;
    }

table.gsc-search-box {
    width: 100px;
    height:25px;
    }
td.gsib_a {
    padding:0 5px;
    vertical-align:top !important;
    }
#gsc-iw-id1 {
    margin-top:-5px;
    }
</style>
    <!--/Google Search-->


    <header id="header">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                        <!--a class="navbar-brand" href="index.html">--><a class="navbar-brand" href="http://www.glogou.com"><img src="/static/images/glogou-long.png" alt="glogou logo" title="glogou logo"></a>
                        <!--<div class="top-number"><p><i class="fa fa-phone-square"></i>  1-508-309-2110</p></div>-->
                    </div>
                    <div class="col-xs-10">
                       <div class="social">
                            <ul class="topmenu">
                                <li><a href="http://www.glogou.com/asia-media-guide/">Asia Media Guide |</a></li>
                                <li><a href="http://www.glogou.com/asia-media-planning/china_media/">Asia Media Planning |</a></li>
                                <li><a href="http://www.glogou.com/member-service/sales-opportunities/">Sales Opportunities Discovery</i></a></li>
                            </ul>
                            <div class="top-number">
                                <p><i class="fa fa-phone-square"></i>&nbsp;&nbsp;1-508-309-2110&nbsp;&nbsp;</p>
                            <ul class="social-share">
                                <!--<li class="top-number"><p><i class="fa fa-phone-square"></i>&nbsp;&nbsp;1-508-309-2110&nbsp;&nbsp;</p></li>-->
                                <li><a href="https://www.facebook.com/Glogou"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/glogou"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.linkedin.com/company/glogou-inc-"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="http://www.weibo.com/glogou"><i class="fa fa-weibo"></i></a></li>
                            </ul>
                            <div class="search" id="cse">
                                <gcse:searchbox-only></gcse:searchbox-only>
                                <!--<form role="form">
                                    <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                                    <i class="fa fa-search"></i>
                                </form>-->
                            </div>
                            </div>
                       </div>
                    </div>
                </div>
            </div><!--/.container-->
        </div><!--/.top-bar-->
        
        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                
                <div class="collapse navbar-collapse" id="mainmenu">
                    <ul class="nav navbar-nav">
                        <li><!--a href="index.html"--><a href="http://www.glogou.com/">Home</a></li>  <!--homepage-->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Who We Are<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="http://www.glogou.com/about.html">About Us</a></li>
                                <li><a href="http://glogou.com/blog/">Blog</a></li>
                                <li><a href="http://www.glogou.com/testimonials.html">Testimonials</a></li>
                                <li><a href="http://glogou.com/news.html">News</a></li>
                                <li><a href="http://glogou.com/downloads.html">Downloads</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">What We Do<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="http://www.glogou.com/member-service/sales-opportunities/">Sales Opportunity Discovery</a></li>
                                <li><a href="http://glogou.com/ad-baidu.html">China, Japan, Korea SEO/SEM</a></li>
                                <li><a href="http://weibo-marketing.glogou.com/">Wechat, Weibo, Social Media Marketing</a></li>
                                <li><a href="http://glogou.com/chinese-website-design-development.html">Web Design</a></li>
                                <li><a href="http://china-marketing.glogou.com/">China Complete Digital Marketing</a></li>
                                <li><a href="http://mobile-marketing-in-china.glogou.com/">Mobile Marketing</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">How We Can Help<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="http://www.glogou.com/member-service/sales-opportunities/">Sales Signal Processing</a></li>
                                <li><a href="#">Asia Media Monitoring</a></li>
                                <li><a href="http://twins.glogou.com">Asia Social Media Marketing</a></li>
                                <li><a href="http://glogou.com/adbaidu/">English Interface to Baidu</a></li>
                                <li><a href="http://education.glogou.com/">Education Marketing in Asia</a></li>
                            </ul>
                        </li>
                        <!--<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Featured Showcases<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="404.html">Destination Marketing</a></li>
                                <li><a href="404.html">Education marketing</a></li>
                                <li><a href="404.html">High Tech Marketing</a></li>
                                <li><a href="404.html">Real Estate Marketing</a></li>
                            </ul>
                        </li>-->
                        <li><a href="http://glogou.com/downloads.html">Downloads</a></li>
                        <li><a href="http://www.glogou.com/contact.html">Contact Us</a></li>
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
        
    </header><!--/header-->
    <div class="page-top">
            <ol class="breadcrumb">
                <li><a href="http://glogou.com">Home</a></li>
                <li><a href="/">Find Your Interested Brands and Products</a></li>
            </ol>
            <h1><b>Asia Marketing Indicators</b>&nbsp;&nbsp;<i><small style="color:#75FF75;">Evaluate Media Exposure and Influence of Brands and Products in Asia and China</small></i></h1>
            {% block banner %}{% endblock %}
    </div>
        {% block sidebar %}{% endblock %}
    <div id="page-wrapper">
      <div class="container-fluid">
        {% block content %}{% endblock %}
      </div>
    </div>
        

    <!--/footer part start here:-->    
    <footer id="footer">
        <div class="container">
            <div id="footer-links">
                <h3>Complete Marketing Advertising Solutions</h3>
                <div class="col-md-3 col-sm-6 col-xs-6 widget">
                    <ul>
                        <li><a href="http://ad-china.glogou.com">Advertising in China</a></li>
                        <li><a href="http://hotels.glogou.com">Hotels & Travel Marketing</a></li>
                        <li><a href="http://tourism.glogou.com/">Tourism Marketing</a></li>
                        <li><a href="http://marketing-in-china.glogou.com">Marketing in China</a></li>
                        <li><a href="http://glogou.com/japan-online-marketing">Japan Top Media Guides</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 widget">
                    <ul>
                        <li><a href="http://glogou.com/agencyreview">Advertising Agency Review</a></li>
                        <li><a href="http://glogou.com/blog/">Blog</a></li> 
                        <li><a href="http://advertising-in-asia.glogou.com">Advertising in Asia</a></li>
                        <li><a href="http://tradeshow.glogou.com">Tradeshow Marketing</a></li>
                        <li><a href="http://glogou.com/japan-ad-media">Japan Media Guides</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 widget">
                    <ul>
                        <li><a href="http://glogou.com/ad-media">China Media Guide</a></li>
                        <li><a href="http://glogou.com/better-ad-media">USA China Media Mapping</a></li>
                        <li><a href="http://education.glogou.com">Marketing Education Services</a></li>
                        <li><a href="http://china-advertising.glogou.com">China Advertising</a></li>
                        <li><a href="http://glogou.com/japan-better-ad-media">USA-Japan Media Mapping</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 widget">
                    <ul>
                        <li><a href="http://glogou.com/china-online-marketing">China Online Marketing</a></li>
                        <li><a href="http://mobile-marketing-in-china.glogou.com">Mobile Marketing in China</a></li>
                        <li><a href="http://glogou.com/ad-media/SNS.html">Social Networks Advertising</a></li>
                        <li><a href="http://china-marketing.glogou.com">China Marketing</a></li>
                        <li><a href="http://glogou.com/indonesia-online-marketing">Advertising in Indonesia</a><li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    &copy;Glogou, Inc 2015 All rights reserved
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="http://www.glogou.com">Home</a></li>
                        <li><a href="http://www.glogou.com/about.html">About Us</a></li>
                        <li><a href="#">Archive</a></li>
                        <li><a href="http://www.glogou.com/contact.html">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer part ends here-->

    <!--  __BL__, the following will cause highchart.js not loaded. It seems that we do not need it anyway,
          __BL__, we will delete them in future
    <script src="../../static/javascript/jquery-1.11.3.min.js"></script>
    <script src="../../static/javascript/jquery.js"></script>
    __BL__COMMENT, DELETE above script  -->

<!--     <script src="/static/javascript/bootstrap.min.js"></script> -->
    <script src="/static/brands/js/jquery.min.js"></script>
    <script src="/static/brands/js/bootstrap.min.js"></script>
    <script src="/static/javascript/jquery.prettyPhoto.js"></script>
    <script src="/static/javascript/jquery.isotope.min.js"></script>
    <script src="/static/javascript/main.js"></script>
    <script src="/static/javascript/wow.min.js"></script>
    
    <!-- JavaScript -->
    
    
    <script src="/static/brands/js/raphael.js"></script>
    <script src="/static/brands/js/jquery.usmap.js"></script>
    <script src="/static/brands/js/metisMenu.min.js"></script>
    <script src="/static/brands/js/sb-admin-2.js"></script>
    {% block custom_js %}{% endblock %}
    
    
    <!--Google Search-->
    <script>
    $(document).ready(function() {
        setTimeout(function() {
            var msg = "Search";
            jQuery("input.gsc-input").val(msg);
            jQuery("input.gsc-input").focus(function() {
                $(this).val("");
            });
            jQuery("input.gsc-input").blur(function() {
                if ($(this).val().trim() == "") {
                    $(this).val(msg);
                }
            });
        }, 1000);
    });
    </script>
    <!--/Google Search-->

</body>

</html>
