{% extends "brands/brand_page_base.html" %}

{% block brand_page_box %}
    <!-- info and google news -->
    <hr>
    <div class="row">
        <!-- info -->
        <div class="col-md-3">
            <div><img src="{{brand.logo_url}}" class="img-thumbnail"></img></div>
            <ul class="list-unstyled" style="margin-top: 30px;">
                <li>{{brand.city}}, {{brand.state_short}}</li>
                <li>{{brand.phone}}</li>
                <li><a href={{brand.url}}>{{brand.url}}</a></li>
            </ul>
            <!-- social icons -->
            <ul class="list-unstyled list-inline">
                <li><a href="{{brand.facebook_url}}"><img src="/static/brands/images/facebook.png" width="25" height="25"></a></li>
                <li><a href="{{brand.twitter_url}}"><img src="/static/brands/images/twitter.png" width="25" height="25"></a></li>
                <li><a href="{{brand.googleplus_url}}"><img src="/static/brands/images/googleplus.png" width="25" height="25"></a></li>
                <li><a href="{{brand.linkedin_url}}"><img src="/static/brands/images/linkedin.png" width="25" height="25"></a></li>
                <li><a href="{{brand.youtube_url}}"><img src="/static/brands/images/youtube.png" width="25" height="25"></a></li>
                
            </ul>
            <!-- /social icons -->
            
            <!-- google map possibly -->
            
            <!-- /google map -->
        </div>
        <div  class="col-md-5">
                <table class="table">
                    <tr class="danger"><td><h4>Rank: </h4></td><td><h4><b>{{brand_infor.overall_rank}}</b></h4></td></tr>
                    <tr><td>Student Population: </td><td><b>{{brand_infor.student_population}}</b></td></tr>
                    <tr><td>Undergraduate Population: </td><td><b>{{brand_infor.undergrad_population}}</b></td></tr>
                    <tr><td>Student to Faculty Ratio: </td><td><b>{{brand_infor.student_faculty_ratio}}</b></td></tr>
                    <tr><td>Total Annual Cost: </td><td><b>{{brand_infor.annual_cost}}</b></td></li>
                    <tr><td>In-State Tuition: </td><td><b>{{brand_infor.in_state_tuition}}</b></td></li>
                    <tr><td>Out-State Tuition: </td><td><b>{{brand_infor.out_state_tuition}}</b></td></tr>
                    <tr><td>SAT Composite Range: </td><td><b>{{brand_infor.sat_range}}</b></td></tr>
                    <tr><td>ACT Composite Range: </td><td><b>{{brand_infor.act_range}}</b></td></tr>
                    <tr><td>Financial Grade: </td><td><b>{{brand_infor.financial_grade}}</b></td></tr>
                </table>
        </div>
        <!-- info -->
        
        <!-- brand profile -->
        <div class=" col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading"><h5>Profile</h5></div>
                <div class="panel-body" style="text-align: justify;max-height: 350px;overflow-y: scroll;">{{brand.profile}}</div>
            </div>
        </div>
        <!-- /brand profile -->
        
    </div>
    
    <hr>
    <!-- pie charts -->
    <div class="panel panel-info">
        <div class="panel-heading"><h3>Student Facts</h3></div>
        <div class="panel-body"></div>
	    <div class="row">
	        {% if financial_yes > -1 %}
	            <div class="col-md-6 col-lg-4"><div id="financial" style="width: 290px; height: 300px;"></div></div>
	        {% endif %}
	        {% if admission_yes > -1 %}
	            <div class="col-md-6 col-lg-4"><div id="admission" style="width: 290px; height: 300px;"></div></div>
	        {% endif %}
	        {% if male > -1 %}
	            <div class="col-md-6 col-lg-4"><div id="gender" style="width: 290px; height: 300px;"></div></div>
	        {% endif %}
	    </div>
	    <div class="row">
	        {% if race.0 > -1 or race.1 > -1 or race.2 > -1 or race.3 > -1 or race.4 > -1 or race.5 > -1 or race.6 > -1 or race.7 > -1 %}
	            <div class="col-md-6 col-lg-4"><div id="race" style="width: 290px; height: 300px;"></div></div>
	        {% endif %}
	        {% if full_time > -1 %}
	            <div class="col-md-6 col-lg-4"><div id="attendance" style="width: 290px; height: 300px;"></div></div>
	        {% endif %}
	    </div>
    </div>
    <!-- /pie charts -->
    
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        // data
        var data0 = google.visualization.arrayToDataTable([
          ['Financial Aid', 'Percentage'],
          ['Offered', {{financial_yes}}],
          ['Not Offered',{{financial_no}}]
        ]);
        var data1 = google.visualization.arrayToDataTable([
          ['Admission', 'Percentage'],
          ['Accepted', {{admission_yes}}],
          ['Rejected',{{admission_no}}]
        ]);
        var data2 = google.visualization.arrayToDataTable([
          ['Enrollment by Gender', 'Percentage'],
          ['Male', {{male}}],
          ['Female',{{female}}]
        ]);
        //var race = {{race|safe}}
        var data3 = google.visualization.arrayToDataTable([
          ['Enrollment by Race/Ethnicity', 'Percentage'],
          {% if race.0 > 0 %}
          ['American Indian or Alaskan native',{{race.0}}],
          {% endif %}
          {% if race.1 > 0 %}
          ['Asian/Native Hawaiian/Pacific Islander', {{race.1}}],
          {% endif %}
          {% if race.2 > 0 %}
          ['Black or African American', {{race.2}}],
          {% endif %}
          {% if race.3 > 0 %}
          ['Hispanic/Latin', {{race.3}}],
          {% endif %}
          {% if race.4 > 0 %}
          ['White', {{race.4}}],
          {% endif %}
          {% if race.5 > 0 %}
          ['Two or More Races', {{race.5}}],
          {% endif %}
          {% if race.6 > 0 %}
          ['Race/Ethnicity Unknown', {{race.6}}],
          {% endif %}
          {% if race.7 > 0 %}
          ['Non-Resident Alien', {{race.7}}],
          {% endif %}
        ]);
        var data4 = google.visualization.arrayToDataTable([
          ['Attendance Status', 'Percentage'],
          ['Full-Time', {{full_time}}],
          ['Part-Time',{{part_time}}]
        ]);
        
        // option
        var options0 = {
          title: 'Financial Aid',
          fontSize: 13,
          pieSliceText: 'label',
          legend: {position: 'top', maxLines: 4}
        };
        var options1 = {
          title: 'Admission',
          fontSize: 13,
          pieSliceText: 'label',
          legend: {position: 'top', maxLines: 4}
        };
        var options2 = {
          title: 'Enrollment by Gender',
          fontSize: 13,
          pieSliceText: 'label',
          legend: {position: 'top', maxLines: 4}
        };
        var options3 = {
          title: 'Enrollment by Race/Ethnicity',
          fontSize: 13,
          pieSliceText: 'label',
          legend: {position: 'top', maxLines: 4}
        };
        var options4 = {
          title: 'Attendance Status',
          fontSize: 13,
          pieSliceText: 'label',
          legend: {position: 'top', maxLines: 4}
        };
        
        // chart
        var chart0 = new google.visualization.PieChart(document.getElementById('financial'));
        chart0.draw(data0, options0);
        
        var chart1 = new google.visualization.PieChart(document.getElementById('admission'));
        chart1.draw(data1, options1);
        
        var chart2 = new google.visualization.PieChart(document.getElementById('gender'));
        chart2.draw(data2, options2);
        
        var chart3 = new google.visualization.PieChart(document.getElementById('race'));
        chart3.draw(data3, options3);
        
        var chart4 = new google.visualization.PieChart(document.getElementById('attendance'));
        chart4.draw(data4, options4);
      }
    </script>
    


{% endblock %}