            <div class = "row">
                <div class="col-md-12">
                    <div class="carousel slide" id="myCarousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="col-md-3"><a href="#"><img class="img-responsive" src="/static/static_brands/images/select/chanel.jpg" class="img-responsive" style="min-height:100px;height:200px;"></a></div>
                            </div><!-- end of item active -->

                            <div class="item">
                                <div class="col-md-3"><a href="/shop__Jimmy Choo.html"><img class="img-responsive" src="/static/static_brands/images/select/Jimmy%20Choo.jpg" class="img-responsive" style="min-height:100px;height:200px;"></a></div>
                            </div><!-- end item -->

                            <div class="item">
                                <div class="col-md-3"><a href="/shop__Juicy Couture.html"><img class="img-responsive" src="/static/static_brands/images/select/Juicy%20Couture.jpg" class="img-responsive" style="min-height:100px;height:200px;"></a></div>
                            </div><!-- end item -->

                            <div class="item">
                                <div class="col-md-3"><a href="/shop__Celine.html"><img class="img-responsive" src="/static/static_brands/images/select/Celine.jpg" class="img-responsive" style="min-height:100px;height:200px;"></a></div>
                            </div><!-- end item -->

                            <div class="item">
                                <div class="col-md-3"><a href="/shop__Dr.martens.html"><img class="img-responsive" src="/static/static_brands/images/select/Dr.martens.jpg" class="img-responsive" style="min-height:100px;height:200px;"></a></div>
                            </div><!-- end item -->

                            <div class="item">
                                <div class="col-md-3"><a href="/shop__Coach.html"><img class="img-responsive" src="/static/static_brands/images/select/Coach.jpg" class="img-responsive" style="min-height:100px;height:200px;"></a></div>
                            </div><!-- end item -->

                            <div class="item">
                                <div class="col-md-3"><a href="/shop__Christian Louboutin.html"><img class="img-responsive" src="/static/static_brands/images/select/Christian%20Louboutin.jpg" class="img-responsive" style="min-height:100px;height:200px;"></a></div>
                            </div><!-- end item -->

                        </div><!-- end of carousel-inner -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
                    </div><!-- end of myCarousel -->
                </div><!-- end of col-md-12 -->
            </div><!-- end of row -->