{% load strip_space %}
<div class="navbar-default sidebar" role="navigation" style="margin-top: 20px;">
    <div class="sidebar-nav">
        <div class="nav" id="side-menu">
            <!-- search box -->
            <div style="margin-left: 10px;"><h4>Add Brands for Comparison</h4></div>
            <div class="sidebar-search">
                <div class="input-group custom-search-form ui-front">
                    <input id="custom_selection" type="text" class="form-control ui-widget" placeholder="Add More by Name...">
                </div>
            </div>
            <!-- /search box -->
            
            
            <!-- recommeded brands -->
            <hr>
            <div style="margin-left: 10px;"><h4>Brands for Comparison:</h4></div>
            <div>
                    <div style="padding-left:20px;">
                        <form role="form" action="/brand_id={{brand.id}}/{{brand.name|lower|nospace}}/compare/" method="get">
                            <div id="compare_list" class="checkbox">
                                <label><h5><input type="checkbox" name = "ck_{{brand.id}}" value = "{{brand.name}}" onclick="this.checked=true" checked>{{brand.name}}</h5></label><br>
                                {% for brand in comparison_list %}
                                <label><h5><input type="checkbox" name = "ck_{{brand.brand_compare.id}}" value = "{{brand.brand_compare.name}}">
                                    {{brand.brand_compare.name}}</h5></label><br>
                                <!-- in backend, do some_var = request.POST.getlist('checked') -->
                                {% endfor %}
                            </div>
                            <hr>
                            <button type="submit" class="btn btn-default" style="float: right; margin-right: 15px;">Submit</button>
                        </form>
                    </div>
            </div>
            <!-- /recommeded brands -->
        </div>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->