{% extends "schools/base_glogou.html" %}
{% block sidebar%}

<div class="navbar-default sidebar" role="navigation" style="margin-top: 20px;">
    <div class="sidebar-nav">
        <div class="nav" id="side-menu">
            <div>
            <a target="_blank" href="http://education.glogou.com/">
            <img class="img-responsive img-hover" src="/static/images/international_college_application.png" alt="international_college_application"  style="width:250px; height:250px;">
            </a>
            </div>
            <!-- /recommeded schools -->
        </div>
    </div>
    <!-- /.sidebar-collapse -->
</div>
{% endblock%}
{% block content %}

    <div class="page-top">
        <br>
		<h1>Search Index of the Universities</h1>
	</div> <!--/page-top-->


<section  style="float:left">

		<!-- Project One -->
        <div class="row">
            <div class="col-md-7">
                <h3>The sample Media Performance of University  </h3>
                <a target="_blank" href="http://education.glogou.com/">
                    <img class="img-responsive img-hover" src="/static/images/alumni_fundraising.jpg" alt="alumni_fundraising"  style="width:900px; height:400px;">
                    <!--<img class="img-responsive img-hover" src="/static/images/education_case_SIPA.png" alt="">-->
                </a>
            </div>
            <div class="col-md-5" >
                <h1>Explanation</h1>

                <h3>From Search Index in the charts of the left side, Evaluate Media Exposure of your university. </h3>
                <ul><h3>
                	<li>Search Index shows that Wyoming University have gotten less Media Exposure than the average index of all schools on google_index_en.</li>
                	<li>Wyoming University have gotten better Media Exposure than the average index of all schools on baidu_index_chinese.</li>
                	<li>Wyoming University still has big gap to reach the max index of all schools.</li>

                </h3></ul>
                <a target="_blank" class="btn btn-primary" href="javascript:history.back()"><h4>Back</h4></i></a>
            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Two -->
        <div class="row">
            <div class="col-md-7">
                 <h3>The sample of Compare Media Indexes of three universities</h3>
                <a target="_blank" href="http://education.glogou.com/">
                    <img class="img-responsive img-hover" src="/static/images/alumni_engagement.jpg" alt="alumni_engagement" style="width:1000px; height:200px;"></a>
                <a target="_blank" href="http://education.glogou.com/">
                    <img class="img-responsive img-hover" src="/static/images/alumni_engagement_fundraising.jpg" alt="alumni_engagement_fundraising" style="width:1000px; height:200px;">
                    <!--<img class="img-responsive img-hover" src="/static/images/education_case_UIUC.png" alt="">-->
                </a>
            </div>
            <div class="col-md-5" >
                <h1>Compare three Universities of the Media Exposure</h1>
                <ul><h3>
                	<li>Index of University of Illinois has been gradually increasing during this period.</li>
                	<li>Index of University of Wyoming has been fluctuating.</li>
                	<li>Overall,Index of Colorado State University has been decreasing</li>
                	<li>On April 23, 2015, University of Wyoming got highest search index, Colorado State University got lowest search index. </li>
                </h3></ul>
                <a target="_blank" class="btn btn-primary" href="javascript:history.back()"><h4>Back</h4></i></a>
            </div>

        </div>
        <!-- /.row -->
    <br>

	</section><!--/.container-->

{% endblock %}
