        <div class="panel-body">
                <div id="bd"></div>
                <script type="text/javascript">
                    google.load('visualization', '1', {packages: ['corechart', 'line']});
                    google.setOnLoadCallback(drawBackgroundColor_bd);
                    
                    function drawBackgroundColor_bd() {
                          var data = new google.visualization.DataTable();
                          data.addColumn('date', 'month');
                          data.addColumn('number', 'Baidu Index(CH)');
                          data.addColumn('number', 'Baidu Index(EN)');
                          data.addColumn('number', 'Baidu News(CH)');
                          data.addColumn('number', 'Baidu News(EN)');
                          data.addColumn('number', 'Baidu Site');
                          
                          data.addRows([
                            {% for row in bd reversed %}
                                [new Date("{{row.0.date.isoformat}}".replace("-", ", ")), {{row.0.index}}, {{row.1.index}}, 
                                    {{row.2.index}}, {{row.3.index}}, {{row.3.index}}],
                            {% endfor %}
                          ]);
                    
                          var options = {
                            title: 'Baidu Indexes',
                            //curveType: 'function',
                            hAxis: {
                              title: 'Date',
                              format:'M/d/y',
                            },
                            vAxis: {
                              title: 'Index'
                            },
                            backgroundColor: '#f1f8e9',
                            height: 300,
                            pointSize: 10,
                            };
                            
                          var chart = new google.visualization.LineChart(document.getElementById('bd'));
                          chart.draw(data, options);
                          
                        }
                </script>
            </div>