        <div id="gg_chart" class="panel-body">
                <div id="gg"></div>
                <script type="text/javascript">
                    google.load('visualization', '1', {packages: ['corechart', 'line']});
                    google.setOnLoadCallback(drawBackgroundColor_gg);
                    
                    function drawBackgroundColor_gg() {
                          var data = new google.visualization.DataTable();
                          data.addColumn('date', 'month');
                          data.addColumn('number', 'Google Index(EN)');
                          data.addColumn('number', 'Google Index(HK)');
                          data.addColumn('number', 'Google News');
                          data.addColumn('number', 'Google Site');
                          
                          data.addRows([
                            {% for row in gg reversed %}
                                [new Date("{{row.0.date.isoformat}}".replace("-", ", ")), {{row.0.index}}, 
                                    {{row.1.index}}, {{row.2.index}}, {{row.3.index}}],
                            {% endfor %}
                          ]);
                    
                          var options = {
                            title: 'Google Indexes',
                            //curveType: 'function',
                            hAxis: {
                              title: 'Date',
                              format:'M/d/y',
                            },
                            vAxis: {
                              title: 'Index'
                            },
                            backgroundColor: '#f1f8e9',
                            height: 400,
                            pointSize: 10,
                            };
                            
                          
                          var chart = new google.visualization.LineChart(document.getElementById('gg'));
                          chart.draw(data, options);
                          
                        }
                        
                </script>
    </div>