<div class="row">
    <!-- gg -->
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Media Performance on Google</h4></div>
        <div class="panel-body">
        {% for index_obj in gg %}
        <div class="row">
            <div id="gg_{{forloop.counter0}}"></div>
            <script type="text/javascript">
                google.load('visualization', '1', {packages: ['corechart', 'line']});
                google.setOnLoadCallback(drawBackgroundColor);
                
                function drawBackgroundColor() {
                      var data = new google.visualization.DataTable();
                      data.addColumn('date', 'month');
                      data.addColumn('number', 'index');
                      
                      
                      var year = 
                      data.addRows([
                        {% for row in index_obj reversed %}
                            [new Date("{{row.date.isoformat}}"), {{row.index}}],
                        {% endfor %}
                      ]);
                
                      var options = {
                        hAxis: {
                          title: 'Date',
                          format:'MMM d, y'
                        },
                        vAxis: {
                          title: 'Index'
                        },
                        backgroundColor: '#f1f8e9'
                      };
                
                      var chart = new google.visualization.LineChart(document.getElementById('gg_{{forloop.counter0}}'));
                      chart.draw(data, options);
                    }
            </script>
        </div>
        {% endfor %}
        </div>
    </div>
    <!-- gg -->
    
    <!-- bd -->
    <div class="col-sm-6 panel panel-default">
        <!-- bd index en -->
        <div class="row"></div>
        <!-- /bd index en -->
        <!-- bd index ch -->
        <div class="row"></div>
        <!-- /bd index ch -->
        <!-- bd news en -->
        <div class="row"></div>
        <!-- /bd news en -->
        <!-- bd news ch -->
        <div class="row"></div>
        <!-- /bd news ch -->
        <!-- bd site -->
        <div class="row"></div>
        <!-- /bd site -->
    </div>
    <!-- /bd -->
</div>
    
<div class="row">
    <!-- yh -->
</div>