{% extends "schools/base.html" %} 
{% load strip_space %}

{% block content %}
<div class="row">
    <h3>Compare Media Indexes of <b><a href="/schools/school_id={{this_school.id}}/{{this_school.name|lower|nospace}}/">{{this_school.name}}</a></b> with Selected Schools</h3>
    <h4>
        {% for school in selected_schools %}
            <<a href="/schools/school_id={{school.id}}/{{school.name|lower|nospace}}/">{{school.name}}</a>>
        {% endfor %}
    </h4>
    <hr>
</div>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="dropdown pull-right">
            <button id="selected_period" class="btn btn-default dropdown-toggle" type="button" id="chart_period" data-toggle="dropdown">Select Period
            <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
              <li role="presentation"><a role="menuitem" tabindex="-1" onclick="redirectTo(7)">last 7 days</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" onclick="redirectTo(30)">last 30 days</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" onclick="redirectTo(180)">last 180 days</a></li>
            </ul>
            </div>
            <h4><b>{{index_name}} - Last {{num_days}} days</b></h4>
        </div>
        <div class="panel-body">
            <div  style="margin-bottom: 10px;"><div id="index_line"></div></div>
            <div  style="margin-bottom: 15px;"><div id="index_col"></div></div>
        </div>
    </div>
</div>

<!-- yh -->
<!-- <div class="row"> -->
<!--     <div class="panel panel-default"> -->
<!--         <div class="panel-heading"><h4><b>Yahoo Japan Indexes - Last {{num_days}} days</b></h4></div> -->
<!--         <div class="panel-body"> -->
<!--             <div class="col-sm-6" style="margin-bottom: 10px;"><div id="index_9"></div></div> -->
<!--             <div class="col-sm-6" style="margin-bottom: 10px;"><div id="index_99"></div></div> -->
<!--             <hr> -->
<!--             <div class="col-sm-6" style="margin-bottom: 10px;"><div id="index_10"></div></div> -->
<!--             <div class="col-sm-6" style="margin-bottom: 10px;"><div id="index_1010"></div></div> -->
<!--         </div> -->
<!--     </div> -->
<!-- </div> -->
<!-- /yh -->

{% endblock %}

{% block sidebar %}
<!-- <div class="sidebar" role="navigation" style="margin-top: 20px;"> -->
<!--         <ul class="nav nav-sidebar" style="text-align: center;"> -->
<!--             <li><h4><img src="/static/schools/images/baidu.png"  height="25" style="margin-bottom: 5px;margin-right: 5px;">Baidu</h4></li> -->
<!--             <li ><a  href="#">Search(English Name)</a></li> -->
<!--             <li><a href="#">Search(Chinese Name)</a></li> -->
<!--             <li><a href="#">News(English Name)</a></li> -->
<!--             <li><a href="#">News(Chinese Name)</a></li> -->
<!--             <li><a href="#">University Sites</a></li> -->
<!--         </ul> -->
<!-- </div> -->

<div class="navbar-default sidebar" role="navigation" style="margin-top: 20px;">
    <div class="sidebar-nav">
        <ul class="nav" id="side-menu">
            <li>
                <a href="#" onclick="changeChart('composite_index')"><span class="glyphicon glyphicon-stats"></span> Composite Index</a>
            </li>
            <!-- baidu -->
            <li>
                <a href="#"><img src="/static/schools/images/baidu.png" width="25" height="25"> Baidu Indexes<span class="glyphicon glyphicon-chevron-left" style="float: right;"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#" onclick="changeChart('bd_index_en')">Baidu Page Index (EN)</a>
                    </li>
                    <li>
                        <a href="#" onclick="changeChart('bd_index_ch')">Baidu Page Index (CH)</a>
                    </li>
                    <li>
                        <a href="#" onclick="changeChart('bd_news_en')">Baidu News Index (EN)</a>
                    </li>
                    <li>
                        <a href="#" onclick="changeChart('bd_news_ch')">Baidu News Index (CH)</a>
                    </li>
                    <li>
                        <a href="#" onclick="changeChart('bd_site')">Baidu Site Index</a>
                    </li>
                </ul>
            </li>
            <!-- google -->
            <li>
                <a href="#"><img src="/static/schools/images/google.png" width="25" height="25"> Google Indexes<span class="glyphicon glyphicon-chevron-left" style="float: right;"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#" onclick="changeChart('gg_index_en')">Google Page Index (EN)</a>
                    </li>
                    <li>
                        <a href="#" onclick="changeChart('gg_index_hk')">Google Page Index (HK)</a>
                    </li>
                    <li>
                        <a href="#" onclick="changeChart('gg_news_en')">Google News Index (EN)</a>
                    </li>
                    <li>
                        <a href="#" onclick="changeChart('gg_site')">Google Site Index</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
{% endblock %}

{% block custom_js %}
<!-- <script type="text/javascript">
    $(function() {
        $("#page-wrapper").css('margin-left', '0px');
    })
</script> -->

<script type="text/javascript">
    google.load('visualization', '1', {packages: ['corechart', 'line']});
    google.setOnLoadCallback(drawCharts);
    
    function drawCharts() {      
      //-----------------------line chart--------------------------
      var data_line = new google.visualization.DataTable();
      data_line.addColumn('date', 'month');
      
      {% for name in name_list %}
        data_line.addColumn('number', '{{name}}');
      {% endfor %}
      
      
      data_line.addRows([
          {% for row in index_list reversed %}
          [new Date("{{row.0.date}}"), 
            {% for entry in row %}
                {{entry.index}},
            {% endfor %}
          ],
          {% endfor %}
      ])
      
      
      var options = {
        title: '{{index_name}}',
        titleTextStyle: {fontSize: 15},
        legend: {position: 'top', maxLines: 3},
        //curveType: 'function',
        hAxis: {
          title: 'Date',
          format:'M/d/y',
          titleTextStyle: {fontSize: 15},
        },
        vAxis: {
          title: 'Index',
          titleTextStyle: {fontSize: 15},
        },
        backgroundColor: '#f1f8e9',
        height: 300,
        width: '100%',
        pointSize: 7,
        };

      var chart_line = new google.visualization.LineChart(document.getElementById('index_line'));
      chart_line.draw(data_line, options);
      
      //-----------------------column chart--------------------------
      google.load("visualization", "1.1", {packages:["corechart"]});
      data_col = google.visualization.arrayToDataTable({{data_sets_col|safe}});
      
      console.log(data_col);
      var options_col = {
                title: 'Latest Index ({{latest_date}})',
                height: 300,
                 bar: {groupWidth: "50%"},
                legend: {position: 'none'},
                backgroundColor: '#f1f8e9',
                //chartArea: {top:40, left: 60, 'width': '90%', 'height': '75%'},
                //bars: 'horizontal',
                hAxis: {
                        //title: 'School',
                        titleTextStyle: {
                            fontSize: 15,
                            //color: '#053061',
                            //bold: true,
                            //italic: false
                          }
                    },
                vAxis: {
                        title: 'Search Index',
                        titleTextStyle: {
                            fontSize: 15,
                            //color: '#053061',
                            //bold: true,
                            //italic: false
                          }
                    },
            };
      
      // draw column chart
        chart_col = new google.visualization.ColumnChart(document.getElementById('index_col'));
        chart_col.draw(data_col, options_col);
      
    };
    
    $(window).resize(function(){
        drawCharts();
    });
    
    function redirectTo(num_days) {
        currURL = document.URL;
        window.location = currURL.split("&num_days")[0] + "&num_days=" + num_days;
    }
    
    function changeChart(index_name) {
        currURL = document.URL;
        window.location = currURL.split("&num_days")[0] + "&index_name=" + index_name;
    }
</script>
{% endblock %}