{% load strip_space %}
    <div id="table" class="col-sm-12 col-lg-4">
        <div class="sub-header">BROWSE THE LIST</div>
        <div  style="height: 420px; overflow: auto;">
           <table class="table table-hover table-responsive table-striped">
            <th>Rank</th><th>Name</th>
            {% for row in one_page %}
            <tr>
                <td>{{row.overall_rank}}</td>
                <td><a href="/school_id={{row.school__id}}/{{row.school__name|lower|nospace}}/">{{row.school__name}}</a></td>
            </tr>
            {% endfor %}
            </table>
        </div>
        
        {% if page_range|length > 1%}
        <ul class="pagination" style="text-align: center;">
            
            {% for page_num in page_range %}
                <li id="page_{{page_num}}"><a href="/page={{page_num}}/">{{page_num}}</a></li>
            {% endfor %}
            
        </ul>
        {% endif %}
    </div>