<div class="navbar-default sidebar" role="navigation" style="margin-top: 20px;">
    <div class="sidebar-nav">
        <div class="nav" id="side-menu">
            <!-- search box -->
            <div style="margin-left: 10px;"><h4>Add Schools for Comparison</h4></div>
            <div class="sidebar-search">
                <div class="input-group custom-search-form ui-front">
                    <input id="custom_selection" type="text" class="form-control ui-widget" placeholder="Add More by Name...">
                </div>
            </div>
            <!-- /search box -->
            
            
            <!-- recommeded schools -->
            <hr>
            <div style="margin-left: 10px;"><h4>Schools for Comparison:</h4></div>
            <div>
                    <div style="padding-left:20px;">
                        <form role="form" action="/schools/school_id={{school.id}}/compare/" method="get">
                            <div id="compare_list" class="checkbox">
                                <label><h5><input type="checkbox" name = "checked_{{school.id}}" value = "{{school.id}}" onclick="this.checked=true" checked>{{school.name}}</h5></label><br>
                                {% for school in comparison_list %}
                                <label><h5><input type="checkbox" name = "checked_{{school.school_compare.id}}" value = "{{school.school_compare.id}}">
                                    {{school.school_compare.name}}</h5></label><br>
                                <!-- in backend, do some_var = request.POST.getlist('checked') -->
                                {% endfor %}
                            </div>
                            <hr>
                            <button type="submit" class="btn btn-default" style="float: right; margin-right: 15px;">Submit</button>
                        </form>
                    </div>
            </div>
            <!-- /recommeded schools -->
        </div>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->