        <div class="panel-body">
                <div id="yh"></div>
                <script type="text/javascript">
                    google.load('visualization', '1', {packages: ['corechart', 'line']});
                    google.setOnLoadCallback(drawBackgroundColor_yh);
                    
                    function drawBackgroundColor_yh() {
                          var data = new google.visualization.DataTable();
                          data.addColumn('date', 'month');
                          data.addColumn('number', 'Yahoo Index(EN)');
                          data.addColumn('number', 'Yahoo Index(JP)');
                          
                          data.addRows([
                            {% for row in bd reversed %}
                                [new Date("{{row.0.date.isoformat}}".replace("-", ", ")), {{row.0.index}}, {{row.1.index}}],
                            {% endfor %}
                          ]);
                    
                          var options = {
                            title: 'Yahoo Japan Indexes',
                            //curveType: 'function',
                            hAxis: {
                              title: 'Date',
                              format:'M/d/y',
                            },
                            vAxis: {
                              title: 'Index'
                            },
                            backgroundColor: '#f1f8e9',
                            height: 300,
                            pointSize: 10,
                            };
                            
                          
                          var chart = new google.visualization.LineChart(document.getElementById('yh'));
                          chart.draw(data, options);
                          
                        }
                    function resize() {
                        drawBackgroundColor_gg();
                        drawBackgroundColor_bd();
                        drawBackgroundColor_yh();
                        }
                    window.onload = resize();
                    window.onresize = resize;
                </script>
            </div>